@import "tailwindcss";

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

#layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}